<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrVIN80aZ5c4xEwv4KfalnMzc6mzvjizM</string>
	<key>GCM_SENDER_ID</key>
	<string>1046592311084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nataliabraz.TaskManager</string>
	<key>PROJECT_ID</key>
	<string>taskmanager-ee950</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmanager-ee950.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046592311084:ios:ecca8a671ada0114326689</string>
</dict>
</plist>